body {
    font-size: 14px;
    background: #f2f2f2;
}
#front-header {
    z-index: 9999;
    background: #333333;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 0px 20px;
}


#front-wrapper {
    padding-top: 80px;
}

#front-header>.ui.container {
    display: flex;
    align-items: center;
    height: 65px;
}

#front-header-logo {
    margin-right: 40px;
}

#front-header-logo img {
    width: 200px;
}

.logo-white {
    display: none;
}

#front-header .ui.container {
    width: 100% !important;
}
#front-header .right.menu {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.front-menu-nav a {
    color: #999999;
    padding-left: 20px;
}

#front-header .menu-btn-1,
#front-header .menu-btn-2 {
    color: #a9a9a9;
    font-size: 13px;
    border-radius: 0px;
    margin-right: 20px;
    display: flex;
    align-items: center;
}

#front-header .menu-btn-1 img,
#front-header .menu-btn-2 img {
    width: 15px;
    margin-right: 5px;
}
#front-header .menu-btn-1 {
    background: #000;
}
#front-header .menu-btn-2 {
    background: #2a2a2a;
    border: 1px solid #555;
}
#front-header .menu-btn-3 {
    border-radius: 0px;
    box-sizing: border-box;
    min-width: 130px;
    font-size: 13px;
    background: #000;
    color: #fff;
}

#front-header .ui.dropdown .menu {
    right: 0 !important;
    left: unset;
}
.menu-notification-btn {
    font-size: 24px;
    margin-right: 10px;
    color: #707070;
    margin-top: 4px;
    vertical-align: top;
}

.thumbnail-box {
    position: relative;
    background: #ececec;
    display: flex;
    align-items: center;
    justify-content: center;
}

.front-list .width-60 > img {
    width: 60%;
}

.front-list .width-75 > img {
    width: 75%;
}

.front-list .width-50 > img {
    width: 50%;
}

.front-list .width-40 > img {
    width: 40%;
}

.thumbnail-box .top-left-icons,
.thumbnail-box .top-right-icons,
.thumbnail-box .bottom-right-icons {
    position: absolute;
}
.thumbnail-box .top-left-icons {
    top: 10px;
    left: 10px;
}

.thumbnail-box .top-right-icons {
    top: 10px;
    right: 10px;
}

.thumbnail-box .top-right-icons i {
    color: #727272;
    font-size: 20px;
}
.thumbnail-box .bottom-right-icons {
    bottom: 10px;
    right: 10px;
    display: flex;
}
.thumbnail-box .bottom-right-icons .button {
    width: 30px;
    height: 30px;
    padding: 5px;
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}
.thumbnail-box .bottom-right-icons .button img {
    /*width: 25px;*/
}

.front-list .item {
    background: #fff;
    padding: 20px;
    height: 100%;
}

.bottom-right-icons .btn-eye:hover,
.bottom-right-icons .btn-eye {
    background: #ce83ee;
}
.bottom-right-icons .btn-share:hover,
.bottom-right-icons .btn-share {
    background: #12b4dc;
    padding: 8px !important;
}
.bottom-right-icons .btn-hpacs:hover,
.bottom-right-icons .btn-hpacs {
    background: #f2b601;
}
.bottom-right-icons .btn-download:hover,
.bottom-right-icons .btn-download {
    background: #ff5858;
}
.bottom-right-icons .btn-more:hover,
.bottom-right-icons .btn-more {
    background: #a6937c;
    padding: 8px !important;
}

.front-list .content-box {
    padding-top: 20px;
    padding-bottom: 20px;
}
.front-list .content-box .row {
    padding: 15px 0px 0px;
}
.front-list .content-box .row > div:first-child {
    color: #9d9d9d;
}
.front-list .content-box .row > div:last-child {
    color: #323232;
    font-weight: bold;
}

h1 {
    text-align: center;
    font-size: 48px;
    margin: 30px 0px !important;
}

.folder-create {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 992px) {
    #front-header>.ui.container {
        height: 60px;
    }

    #front-header-logo img {
        width: 150px;
    }

    .front-menu-nav {
        position: absolute;
        top: 60px;
        right: 0;
        left: 0;
        width: 100% !important;
        display: none;
        background: #333;
        padding-bottom: 30px;
    }

    #front-header-logo {
        margin-right: 0px;
    }

    .front-menu-nav .item {
        display: inline-block;
        padding: 15px 0px 5px 40px;
        position: relative;
        width: 49%;
    }

    /*.front-menu-nav .item:before {
        position: absolute;
        content: '\203A';
        font-size: 24px;
        left: 15px;
        top: 12px;
        font-weight: bold;
        color: #636363;
    }*/

    #front-mobile-bars i {
        font-size: 24px;
        color: #757575;
        cursor: pointer;
    }

    .front-menu-nav .item:hover {
        /*background: #f6f6f6;*/
        color: #ff9500;
    }

    #front-mobile-bars {
        width: 20%;
    }

    #front-header-logo {
        width: 40%;
        text-align: center;
    }
}

@media only screen and (max-width: 768px) {
    #front-mobile-bars {
        width: 20%;
    }

    #front-header-logo {
        width: 40%;
    }

    h1 {
        font-size: 32px;
        margin: 10px 0px 30px !important;
    }

    .thumbnail-box {
        min-height: 250px;
    }
}
@media only screen and (min-width: 768px) {}
@media only screen and (min-width: 992px) {
    .thumbnail-box {
        min-height: 160px;
    }
}
@media only screen and (min-width: 1200px) {
    .thumbnail-box {
        min-height: 200px;
    }
}
@media only screen and (min-width: 1400px) {

}
@media only screen and (min-width: 1800px) {
	#front-header .ui.container {
		width: 1920px !important;
	}

    .thumbnail-box {
        min-height: 250px;
    }

}