#viewer-modal {
    background: #333333;
}

#viewer-modal .front-menu-nav .item {
    font-size: 16px;
    color: #002147;
    padding: 0px 15px;
    text-transform: uppercase;
}

#viewer-modal .swiper-container {
    width: 100%;
    /*height: 300px;*/
    margin-left: auto;
    margin-right: auto;
}

#viewer-modal .swiper-slide {
    background-size: cover;
    background-position: center;
}

#slider-container {
    background: #000;
}

#slider-wrapper {
    /*height: 500px;*/
    width: 100%;
    position: relative;
}

#slider-wrapper .slider-next,
#slider-wrapper .slider-prev {
    position: absolute;
    top: 50%;
    color: #b5b5b5;
    font-size: 32px;
    cursor: pointer;
}

#slider-wrapper .slider-next {
    right: -44px;
}

#slider-wrapper .slider-prev {
    left: -44px;
}

#viewer-modal .gallery-thumbs {
    /*height: 100px;*/
    box-sizing: content-box;
    padding: 0px 0 40px;
}

#viewer-modal .gallery-thumbs .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

#viewer-modal .gallery-thumbs .swiper-slide-thumb-active {
    opacity: 1;
}

#viewer-modal .swiper-container-horizontal>.swiper-pagination-progressbar {
    bottom: 20px;
    top: unset;
}

#viewer-header {
    margin-left: -60px;
}

#viewer-header .patient-info {
    padding-top: 15px !important;
}

#viewer-header .patient-info .item {
    float: left;
    margin-right: 29px;
    font-size: 14px;
    margin-bottom: 15px;
    color: #686868;
    font-weight: 600;
}

#viewer-header .patient-info .item span {
    font-size: 16px;
    color: #878787;
}

#slider-container {
    color: #fff;
}

.swiper-container .swiper-slide {
    z-index: 2;
}
.gallery-top.swiper-container .swiper-slide {
    z-index: 2 !important;
}
    
.gallery-top.swiper-container .swiper-slide img {
    width: 80%;
    display: block;
    margin: 40px auto 60px; 
    z-index: 2 !important;
}

#viewer-modal.ui.fullscreen.modal{
    padding-top: 20px;
    width: 100% !important;
    margin: 0px !important;
}

#viewer-modal .close.icon {
    color: #b5b5b5;
    font-size: 30px;
}
.viewer-modal-content {
    padding: 0px 40px;
    position: relative;
}

.viewer-modal-content img {
    width: 40px;
}

.viewer-modal-content div img {
    margin-top: 30px;
}

.viewer-modal-content h3 {
    border-bottom: 1px solid #4f4f4f;
    margin: 10px 20px;
    padding: 0px 0px 20px;
}

.viewer-modal-content>div {
    padding: 20px;
}

.viewer-modal-content>div p {
    font-size: 18px;
    margin-bottom: 10px;
    color: #fff;
}

.viewer-modal-content>div p span {
    display: inline-block;
    width: 140px;
    color: #606060;
}

#viewer-modal .slide-buttons {
    position: absolute;
    bottom: 30px;
    right: 20px;
    z-index: 99999999999 !important;
}

.slide-buttons div {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #f2b601;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999999999 !important;
}

.slide-buttons div img {
    width: 35px;
    z-index: 99999999999 !important;
}

#viewer-modal .gallery-thumbs .swiper-slide {
    cursor: pointer;
}

#viewer-modal .gallery-top .swiper-slide {
    z-index: 99;
}

#viewer-modal-detail {
    margin-top: 30px;
}

#viewer-modal-detail h4 {
    color: #fff;
    display: flex;
    align-items: center;
    position: relative;
    margin: 40px 0px 20px;
    font-size: 20px;
}

#viewer-modal-detail h4 img {
    width: 20px;
}

#viewer-modal-detail h4>img:first-child {
    margin-right: 10px;
}

#viewer-modal-detail ul {}

#viewer-modal-detail .viewer-box-content .img-align-right,
#viewer-modal-detail h4 .img-align-right {
    position: absolute;
    right: 0px;
}

#viewer-modal-detail .viewer-box-content p {
    padding-bottom: 10px;
    position: relative;
    font-size: 18px;
    margin-bottom: 8px;
}

#viewer-modal-detail .viewer-box-content p:last-child {
    padding-bottom: 0px;
}

#viewer-modal-detail .viewer-box-content .border-bottom {
    border-bottom: 1px solid #605e5e;
}

#viewer-modal-detail .viewer-box-content,
#viewer-modal-detail .viewer-modal-content {
    border: 1px solid #605e5e;
    padding: 20px;
    border-radius: 5px;
    color: #747474;
    font-weight: bold;
}

#viewer-modal-detail .viewer-box-content img {
    width: 16px;
}

.viewer-comment-box .item {
    position: relative;
    padding-left: 80px;
}

.viewer-comment-box .item img {
    width: 70px;
    position: absolute;
    top: 0;
    left: 0;
}

.viewer-comment-box .item h5 {
    color: #b3b3b3;
    font-size: 18px;
    font-weight: 500;
}

.viewer-comment-box .item p {
    color: #747474;
    font-size: 16px;
    font-weight: 500;
}

.viewer-comment-box .item .created-time {
    color: #4f4f4f;
    font-weight: 500;
    font-size: 14px;
}

#viewer-modal-detail .viewer-modal-content {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

#viewer-modal-detail .viewer-modal-content .fourteen.wide {
    padding: 0px;
}

#viewer-modal-detail .viewer-modal-content p {
    padding-bottom: 10px;

}

#viewer-modal-detail .viewer-modal-content p:last-child {
    padding-bottom: 0px;
    margin-bottom: 6px;
}

@media only screen and (max-width: 768px) {
    .viewer-modal-content {
        padding: 0px;
    }

    .viewer-modal-content div img {
        margin: auto;
        width: 70px;
        display: block;
    }

    .viewer-modal-content>div p,
    #viewer-modal-detail .viewer-box-content p {
        font-size: 14px;
    }

    #slider-wrapper .slider-next {
        right: 0px;
        z-index: 999999;
    }

    #slider-wrapper .slider-prev {
        left: 0px;
        z-index: 999999;
    }

    #viewer-modal-detail .wide.column {
        padding: 0px !important;
    }

    #viewer-modal-detail .viewer-modal-content {
        margin: 0 !important;
        padding: 1em !important;
    }

    .viewer-comment-box .item h5 {
        font-size: 16px;
    }

    .viewer-comment-box .item p {
        font-size: 14px;
    }

    .viewer-comment-box .item .created-time {
        font-size: 13px;
    }

    .viewer-modal-content>div p span {
        width: 120px;
    }

    .slide-buttons div img {
        width: 20px;
    }

    .slide-buttons {
        display: flex;
    }

    .slide-buttons div {
        width: 30px;
        height: 30px;
        margin-left: 10px;
    }
}